@import "./src/scss/vars";
@import "./src/scss/mixins";

.root {
  padding-top: 165px;
  padding-bottom: 60px;
  min-height: 687px;

  @include media($md) {
    padding-top: 205px;
    min-height: auto;
  }

  &.dinamoPage {
    background-color: #fff7ea;
  }

  &.itecPage {
    background-color: #e2efed;
  }

  &.bombaPage {
    background-color: #eeeff2;
  }
}

.date {
  display: inline-block;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: #8b8b8b;

  @include media($sm) {
    margin-bottom: 8px;
    font-size: 14px;
  }
}

.title {
  margin-bottom: 32px;
  max-width: 1050px;
  font-weight: 500;
  font-size: 56px;
  line-height: 1.2;
  color: #0b0b0b;

  @include media($sm) {
    margin-bottom: 16px;
    font-size: 24px;
  }
}

.goal {
  max-width: 800px;
  font-size: 24px;
  line-height: 1.4;
  color: #8b8b8b;

  @include media($sm) {
    font-size: 14px;
  }

  mark {
    font-weight: 400;
    color: #0b0b0b;
  }
}