@import "../../../scss/vars";
@import "../../../scss/mixins";

.root {
  margin-bottom: 33px;

  @include media($sm) {
    margin-bottom: 8px;
  }
}

.wrap {
  display: flex;

  @include media($lg) {
    flex-direction: column;
  }
}

.info {
  margin-right: 140px;

  @include media($xl) {
    margin-right: 48px;
  }

  @include media($lg) {
    margin-right: 0;
    margin-bottom: 32px;
  }
}

.images {
  margin-bottom: 80px;

  @include media($sm) {
    margin-bottom: 32px;
  }

  img {
    @include media($sm) {
      width: 100%;
    }
  }
}

.text {
  max-width: 430px;
  font-size: 24px;
  line-height: 1.4;
  color: #8b8b8b;

  @include media($sm) {
    font-size: 14px;
  }

  mark {
    font-weight: 500;
    color: #0b0b0b;
  }
}

.links {
  column-count: 2;
  column-gap: 40px;
}

.link {
  margin-bottom: 64px;

  @include media($sm) {
    margin-bottom: 40px;
  }

  a {
    font-size: 24px;
    line-height: 130%;
    color: #007bc2;

    @include media($sm) {
      font-size: 14px;
    }

    &:hover {
      text-decoration-line: underline;
      color: #005e94;
    }
  }
}