@import "/src/scss/helpers/vars";
@import "/src/scss/helpers/mixins";

.root {
  position: relative;
  z-index: 1;
  padding-top: 197px;
  padding-bottom: 236px;
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;

  @include media($sm) {
    margin-bottom: -132px;
    padding-top: 166px;
    padding-bottom: 196px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    filter: blur(158px);
  }

  &::before {
    left: 0;
    top: 0;
    opacity: 0.5;
    width: 300px;
    height: 300px;
    background-color: #fee600;
    animation: moveToRight 2s linear infinite;

    @include media($sm) {
      width: 200px;
      height: 200px;
    }
  }

  &::after {
    right: 0;
    bottom: 0;
    opacity: 0.6;
    width: 345px;
    height: 345px;
    background-color: #9a99fb;
    animation: moveToLeft 2s linear infinite;

    @include media($sm) {
      width: 200px;
      height: 200px;
    }
  }
}

.inner {
  position: relative;
  z-index: 2;
}

.date {
  display: inline-block;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #8b8b8b;

  @include media($sm) {
    margin-bottom: 24px;
    font-size: 14px;
  }
}

.title {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 56px;
  line-height: 120%;
  color: #0b0b0b;

  @include media($sm) {
    margin-bottom: 24px;
    font-size: 24px;
  }
}

.goal {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #8b8b8b;

  @include media($sm) {
    font-size: 14px;
  }

  mark {
    color: #0b0b0b;
  }
}

@keyframes moveToLeft {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(-50%, 0);
  }

  50% {
    transform: translate(-50%, -50%);
  }

  75% {
    transform: translate(0, -50%);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes moveToRight {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(50%, 0);
  }

  50% {
    transform: translate(50%, 50%);
  }

  75% {
    transform: translate(0, 50%);
  }

  100% {
    transform: translate(0, 0);
  }
}
