@import "./src/scss/vars";
@import "./src/scss/mixins";

.root {
  margin-bottom: 72px;
  padding: 142px 0 72px;
  background-color: #eeeff2;

  @include media($md) {
    padding: 202px 0 0;
  }
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media($md) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.info {
  max-width: 460px;

  @include media($md) {
    margin-bottom: 24px;
    max-width: none;
  }
}

.title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: #ee322c;

  @include media($md) {
    font-size: 24px;
  }
}

.text {
  p {
    font-size: 16px;
    line-height: 1.3;

    @include media($md) {
      font-size: 14px;
    }

    mark {
      font-weight: 500;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

.images {
  @include media($md) {
    margin: 0 -10px;
  }
}