@import "/src/scss/helpers/vars";
@import "/src/scss/helpers/mixins";

.btn {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  border: none;
  line-height: 1.3;
  text-align: center;
  transition: 0.2s background-color, 0.2s box-shdow;
  cursor: pointer;
}

.primary {
  border-radius: 10px;
  box-shadow: 0 8px 28px 0 rgba(46, 1, 8, 0);
  color: #fff;
  background-color: #d23c55;

  &:hover {
    box-shadow: 0 8px 28px 0 rgba(46, 1, 8, 0.5);
    background-color: #9c1b30;
  }

  &:active {
    box-shadow: 0 -3px 8px 0 rgba(46, 1, 8, 0.6) inset;
    background-color: #9c1b30;
  }

  &.md {
    font-weight: 500;
  }
}

.accent {
  border: 1px solid #717171;
  border-radius: 10px;
  box-shadow: 0 -4px 18px 0 rgba(0, 0, 0, 0) inset;
  color: #fff;
  background-color: #262626;

  &:hover {
    border-color: #0d0d0d;
    background-color: #0d0d0d;
  }

  &:active {
    border-color: #0d0d0d;
    box-shadow: 0 -4px 18px 0 rgba(0, 0, 0, 0.45) inset;
    background-color: #0d0d0d;
  }
}

.md {
  padding: 0 24px;
  min-height: 52px;
  font-size: 15px;
}

.xxl {
  padding: 0 120px;
  min-height: 106px;
  border-radius: 22px;
  font-size: 32px;

  @include media($md) {
    padding: 0 24px;
    min-height: 48px;
    border-radius: 10px;
    font-size: 14px;
  }
}

.center {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
}

.block {
  width: 100%;
}
