@import "./src/scss/vars";
@import "./src/scss/mixins";

.section {
  padding-top: 202px;
  padding-bottom: 200px;

  @include media($sm) {
    padding-top: 166px;
    padding-bottom: 60px;
  }
}

.title {
  margin-bottom: 160px;

  @include media($sm) {
    margin-bottom: 64px;
  }

  p {
    font-weight: 400;
    font-size: 36px;
    line-height: 140%;
    color: #0b0b0b;

    @include media($sm) {
      font-size: 24px;
    }

    &:not(:last-child) {
      margin-bottom: 40px;

      @include media($sm) {
        margin-bottom: 24px;
      }
    }
  }
}

.items {
  display: grid;
  grid-gap: 80px 65px;
  grid-template-columns: repeat(2, 1fr);

  @include media($xl) {
    grid-gap: 32px;
  }

  @include media($md) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.link {
  display: block;

  &:hover {
    .imgWrap {
      background-color: transparent;
    }
  }
}

.imgWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  min-height: 393px;
  background-color: #f7f6f6;

  @include media($xl) {
    padding: 36px 20px;
    min-height: auto;
  }

  @include media($sm) {
    margin-bottom: 16px;
  }
}

.img {
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.06)) drop-shadow(0 12px 32px rgba(0, 0, 0, 0.1));
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #0b0b0b;

  @include media($sm) {
    font-size: 14px;
  }
}
