.keys {
  margin-bottom: 160px;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 48px;
    min-height: 353px;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-color: #f1f0f0;

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    &.dinamo {
      background-image: url("../../images/keys/dinamo.png");
    }

    &.itec {
      background-image: url("../../images/keys/itec.png");
    }

    &.bomba {
      background-image: url("../../images/keys/bomba.png");
    }
  }

  &__date {
    margin-bottom: 11px;
    font-size: 16px;
    line-height: 1.4;
    color: #8b8b8b;
  }

  &__title {
    margin-bottom: 40px;
    max-width: 352px;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.2;
    color: #8b8b8b;

    span {
      font-weight: 700;
      color: #0b0b0b;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
  }

  &__reading {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    color: #8b8b8b;
  }

  &__link {
    margin-right: 19px;
  }
}