@import "./src/scss/vars";
@import "./src/scss/mixins";

.scrollWrap {
  display: block;
  margin-bottom: 48px;
  max-height: 320px;
  overflow: hidden;
  background-color: #000;

  @include media($sm) {
    margin-right: -10px;
    margin-bottom: 24px;
    margin-left: -10px;
    max-height: 80px;
  }
}

[data-attr="slider"] {
  position: relative;
  left: -6%;
  margin-bottom: 22px;
  transform: rotate(-17deg);
  transform-origin: 10% 0;

  @include media($sm) {
    margin-bottom: 10px;
  }

  &:nth-child(even) {
    .scrollRow {
      left: -20%;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.scrollRow {
  position: relative;
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.scrollItem {
  margin-right: 16px;
  height: 175px;
  min-width: 311px;

  @include media($sm) {
    margin-right: 6px;
    height: 48px;
    min-width: 86px;
  }

  img {
    display: block;
    height: auto;
    object-fit: cover;
  }
}
