.hero {
  margin-bottom: 144px;
}

.title {
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 56px;
  line-height: 1.2;
  color: #8b8b8b;

  span {
    color: #0b0b0b;
  }
}

.items {
  display: flex;
}

.item {
  &:not(:last-child) {
    margin-right: 88px;
  }
}

.statistics {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  color: #ee322c;

  span {
    font-weight: 500;
    font-size: 24px;
    color: #8b8b8b;
  }
}

.description {
  font-size: 24px;
  line-height: 1.3;
  color: #8b8b8b;

  span {
    font-weight: 500;
    color: #0b0b0b;
  }
}
