@import "/src/scss/helpers/vars";
@import "/src/scss/helpers/mixins";

.text {
  line-height: 1.4;
}

.black {
  color: #0b0b0b;
}

.grey {
  color: #8b8b8b;
}

.xs {
  font-size: 16px;

  @include media($sm) {
    font-size: 14px;
  }
}

.sm {
  font-size: 36px;

  @include media($sm) {
    font-size: 16px;
  }
}
