@import "./src/scss/vars";
@import "./src/scss/mixins";

.title {
  font-weight: 500;
  font-size: 56px;
  line-height: 1.2;
  color: #0b0b0b;

  @include media($sm) {
    font-size: 24px;
  }
}

.subtitle {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.2;
  color: #8b8b8b;

  @include media($sm) {
    margin-bottom: 8px;
    font-size: 18px;
  }

  mark {
    color: #ee322c;
  }
}