@import "/src/scss/helpers/vars";
@import "/src/scss/helpers/mixins";

.root {
  @include media($xl) {
    margin-bottom: 56px;
  }
}

.container {
  @include media($xl) {
    overflow: hidden;
  }

  @include media($sm) {
    padding-right: 0;
    padding-left: 0;
  }
}

.wrap {
  position: relative;
  display: flex;
  padding-top: 52px;
  gap: 36px;

  @include media($xl) {
    padding-right: 10px;
    padding-left: 10px;
  }

  @include media($sm) {
    padding-top: 64px;
  }
}

.info {
  position: relative;
  z-index: 1;
  margin-top: 52px;
  width: 100%;
  max-width: 570px;

  @include media($xl) {
    margin-top: 0;
    max-width: 100%;
  }
}

.tags {
  display: flex;
  margin-bottom: 32px;
  gap: 16px;

  @include media($sm) {
    margin-bottom: 16px;
  }
}

.tag {

}

.title {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 56px;
  line-height: 120%;
  color: #98989d;

  @include media($xl) {
    width: 70%;
  }

  @include media($sm) {
    margin-bottom: 16px;
    width: 100%;
    max-width: 200px;
    font-size: 26px;
  }

  mark {
    color: #fff;
  }
}

.text {
  margin-bottom: 48px;
  max-width: 325px;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  color: #98989d;

  @include media($xl) {
    width: 70%;
  }

  @include media($sm) {
    margin-bottom: 32px;
    width: 100%;
    max-width: 165px;
    font-size: 14px;
  }

  mark {
    font-weight: 600;
    color: #e8fe55;
  }
}

.btn {
  @include media($xl) {
    width: 100%;
  }
}

.img {
  position: relative;

  @include media($xl) {
    position: absolute;
    right: -240px;
    bottom: -103px;
    transform: scale(0.5);
  }

  @include media($sm) {
    right: -251px;
    bottom: -136px;
    transform: scale(0.4);
  }
}

.evgen {
}

.icon {
  position: absolute;
  z-index: 10;
  opacity: 0;
  animation-name: fadeInIcon, hovering;
  animation-duration: 1s, 3.5s;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, forwards;

  &1 {
    left: 74px;
    top: 139px;
    animation-delay: 3s, 1s;
  }

  &2 {
    right: 10px;
    top: 223px;
    animation-delay: 1.7s, 0.5s;
  }

  &3 {
    right: 68px;
    bottom: 79px;
    animation-delay: 0s, 1.1s;
  }

  &4 {
    left: -29px;
    bottom: 79px;
    animation-delay: 0.7s, 0s;
  }
}

@keyframes fadeInIcon {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes hovering {
  from {
    transform: translateY(0);
  }

  50% {
    transform: translateY(15px);
  }

  to {
    transform: translateY(0);
  }
}

.line {
  position: absolute;
  z-index: 5;

  &Top {
    left: 43px;
    top: 90px;

    path {
      stroke-dasharray: 232;
      stroke-dashoffset: 232;
      animation: topLineAnimation 150s forwards infinite 2.9s;
    }

    @keyframes topLineAnimation {
      0% {
        stroke-dashoffset: 232;
      }

      1% {
        stroke-dashoffset: 0;
      }

      100% {
        stroke-dashoffset: 0;
      }
    }
  }

  &Middle {
    left: 9px;
    top: 188px;

    path {
      stroke-dasharray: 900;
      stroke-dashoffset: 900;
      animation: middleLineAnimation 150s infinite 1.6s;
    }

    @keyframes middleLineAnimation {
      0% {
        stroke-dashoffset: 900;
      }

      1% {
        stroke-dashoffset: 0;
      }

      100% {
        stroke-dashoffset: 0;
      }
    }
  }

  &Bottom {
    left: -22px;
    bottom: 13px;

    path {
      stroke-dasharray: 765;
      stroke-dashoffset: 765;
      animation: bottomLineAnimation 150s infinite;
    }

    @keyframes bottomLineAnimation {
      0% {
        stroke-dashoffset: 765;
      }

      1% {
        stroke-dashoffset: 0;
      }

      100% {
        stroke-dashoffset: 0;
      }
    }
  }
}
