@import "./src/scss/vars";
@import "./src/scss/mixins";

.root {
  margin-bottom: 160px;

  @include media($sm) {
    margin-bottom: 56px;
  }
}

.office {
  margin-bottom: 120px;

  @include media($sm) {
    margin-bottom: 24px;
  }
}

.sportsman {
  margin-bottom: 160px;

  @include media($sm) {
    margin-bottom: 56px;
  }

  img {
    margin-left: auto;
  }
}

.title {
  margin-bottom: 56px;
  color: #0b0b0b;

  @include media($sm) {
    margin-bottom: 16px;
  }
}