@import "./src/scss/vars";
@import "./src/scss/mixins";

.root {
  margin-bottom: 160px;

  @include media($sm) {
    margin-bottom: 84px;
  }
}

.title {
  margin-bottom: 56px;
  max-width: 660px;

  @include media($sm) {
    margin-bottom: 24px;
  }
}

.descr {
  margin-bottom: 24px;

  @include media($sm) {
    margin-bottom: 8px;
  }
}

.text {
  margin-bottom: 56px;
  max-width: 535px;

  @include media($sm) {
    margin-bottom: 24px;
  }
}

.wrap {
  display: flex;
  margin-bottom: 160px;

  @include media($sm) {
    margin-bottom: 56px;
  }
}

.items {
  &:first-child {
    margin-top: 70px;

    @include media($sm) {
      margin-top: 32px;
    }
  }

  &:not(:last-child) {
    margin-right: 100px;

    @include media($sm) {
      margin-right: 16px;
    }
  }
}

.item {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 84px;

    @include media($sm) {
      margin-bottom: 24px;
    }
  }
}

.subtitle {
  margin-bottom: 160px;
  color: #0b0b0b;

  @include media($sm) {
    margin-bottom: 24px;
  }
}

.inner {
  display: flex;
  align-items: flex-start;

  @include media($md) {
    flex-direction: column;
  }

  img {
    @include media($md) {
      width: 100%;
    }

    &:last-child {
      margin-top: 150px;
      margin-left: 120px;

      @include media($xl) {
        margin-left: 30px;
      }

      @include media($md) {
        margin-top: 8px;
        margin-left: 0;
      }
    }
  }
}