@import "./src/scss/vars";
@import "./src/scss/mixins";

.navigation {
  margin-bottom: 96px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.3;
  color: #0b0b0b;

  @include media($sm) {
    margin-bottom: 48px;
  }
}

.container {
  display: flex;
}

.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 170px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.3;
  text-align: center;
  background-color: #f1f0f0;

  @include media($sm) {
    height: 50px;
    font-size: 14px;
  }

  &:hover {
    background-color: #d8d8d8;
  }

  span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &:not(:last-child) {
    margin-right: 40px;

    @include media($md) {
      margin-right: 8px;
    }
  }

  &.home {
    svg {
      margin-right: 8px;
      width: 24px;
      height: 24px;

      @include media($sm) {
        margin-right: 4px;
        width: 16px;
        height: 16px;
      }
    }
  }

  &.next {
    svg {
      margin-left: 16px;
      width: 16px;
      height: 16px;

      @include media($sm) {
        margin-left: 4px;
        width: 8px;
        height: 8px;
      }
    }
  }
}
