@import "/src/scss/helpers/vars";
@import "/src/scss/helpers/mixins";

.section {
  position: relative;
  padding-right: 72px;
  padding-left: 72px;

  @include media($sm) {
    padding-right: 0;
    padding-left: 0;
  }
}

.nav {
  @include media($sm) {
    display: flex;
  }
}

.btn {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 1px solid #ee322c;
  text-align: center;
  color: #424242;
  background-color: #fff;
  cursor: pointer;

  @include min-media($sm) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  @include media($sm) {
    width: 100%;
    height: 40px;
  }

  &:hover {
    color: #fff;
    background-color: #ee322c;
  }

  &:not(:last-child) {
    @include media($sm) {
      margin-right: 32px;
    }
  }
}

.btnPrev {
  @include min-media($sm) {
    left: 0;
  }
}

.btnNext {
  @include min-media($sm) {
    right: 0;
  }
}

.swiper {
  @include media($sm) {
    margin-bottom: 24px;
  }
}

.slide {

}

.container {

}

.img {

}
