@import "./src/scss/vars";
@import "./src/scss/mixins";

.header {
  position: fixed;
  z-index: 1;
  padding: 24px 0;
  width: 100%;
  background-color: #fff;

  @include media($md) {
    position: absolute;
    padding: 12px 0;
  }

  &.dinamoPage {
    background-color: #fff7ea;
  }

  &.itecPage {
    background-color: #e2efed;
  }

  &.bombaPage {
    background-color: #eeeff2;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media($md) {
    flex-wrap: wrap;
  }
}

.logo {
  svg {
    display: block;
  }
}

.menu {
  @include media($md) {
    order: 1;
    margin-top: 24px;
    width: 100%;
  }
}

.items {
  display: flex;

  @include media($md) {
    justify-content: center;
  }
}

.item {
  &:not(:last-child) {
    margin-right: 40px;
  }
}

.navigation {
  font-size: 16px;
  line-height: 1.4;
  color: #0b0b0b;

  @include media($sm) {
    font-size: 14px;
  }

  &:hover {
    border-bottom: 2px solid #ee322c;
  }

  &Active {
    color: #c3c3c3;
  }
}

.socials {
  display: flex;
}

.social {
  &:not(:last-child) {
    margin-right: 24px;
  }
}

.link {

}
