@import "/src/scss/helpers/vars";
@import "/src/scss/helpers/mixins";

.header {
  padding: 16px 0;
  width: 100%;
  box-shadow: 1px 1px 48px 0 rgba(255, 255, 255, 0.04) inset;
  background-color: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(18px);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  img {
    display: block;
  }
}

.items {
  display: flex;
  gap: 48px;

  @include media($lg) {
    gap: 32px;
  }
}

.item {
  &:not(.itemMobile) {
    @include media($md) {
      display: none;
    }
  }
}

.elements {
  display: flex;
  gap: 32px;

  &:not(.elementsMobile) {
    @include media($md) {
      display: none;
    }
  }
}

.element {

}

.social {

}

.burger {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @include min-media($md) {
    display: none;
  }
}

.mobileMenu {
  position: fixed;
  z-index: 100;
  min-height: 100vh;
  overflow: auto;
  border: 1px solid #2b2b2b;
  background-color: #202020;
  transform: translateX(-200%);
  transition: transform 0.3s;
  inset: 0;

  &Open {
    transform: translateX(0);
  }

  &Bg {
    display: flex;
    flex-direction: column;
    padding: 20px 12px 106px;
    height: 100%;
    background-image: url("../../images/Steps/bg-section.png");
    background-position: bottom -22px center;
    background-size: auto 240px;
    background-repeat: no-repeat;
    background-color: #202020;
    mix-blend-mode: lighten;
    gap: 16px;
  }

  &Burger {
    margin: 0 0 0 auto;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  &List {
    margin-top: auto;
    margin-bottom: auto;
  }

  &Item {
    display: flex;
    justify-content: center;

    &:not(:last-child) {
      margin-bottom: 56px;
    }
  }

  &Btn {

  }
}

.activeLink {
  opacity: 0.5;
}
