.header {
  margin-bottom: 100px;
  padding: 16px 0;
}

.container {
  display: flex;
  justify-content: space-between;
}

.items {
  display: flex;
}

.item {
  &:not(:last-child) {
    margin-right: 24px;
  }
}

.link {
  &.telegram {
    &:hover {
      background-color: #2f89ce;
    }
  }

  &.behance {
    &:hover {
      background-color: #1c66fb;
    }
  }

  &.linkedin {
    &:hover {
      background-color: #2878b7;
    }
  }

  &.instagram {
    &:hover {
      background-image: linear-gradient(43.94deg, #eea054 16.16%, #d64763 50.11%, #b62a99 83.68%);
    }
  }
}