.header {
  margin-bottom: 100px;
  padding: 16px 0;
}

.container {
  display: flex;
  justify-content: space-between;
}

.items {
  display: flex;
}

.item {
  &:not(:last-child) {
    margin-right: 24px;
  }
}