@import "../../../scss/vars";
@import "../../../scss/mixins";

.hero {
  margin-bottom: 170px;
  padding-top: 192px;

  @include media($sm) {
    margin-bottom: $mb-sm-section;
    padding-top: 158px;
  }
}

.title {
  margin-bottom: 98px;
  max-width: 1050px;
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  color: #8b8b8b;

  @include media($sm) {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 1.4;
  }

  span {
    color: #0b0b0b;
  }
}

.items {
  display: flex;

  @include media($lg) {
    flex-direction: column;
  }
}

.item {
  &:not(:last-child) {
    margin-right: 200px;

    @include media($lg) {
      margin-right: 0;
      margin-bottom: 24px;
    }
  }
}

.statistics {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  color: #ee322c;

  @include media($sm) {
    margin-bottom: 8px;
    font-size: 24px;
  }
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #0b0b0b;

  @include media($sm) {
    font-size: 14px;

    br {
      display: none;
    }
  }
}
