@import "./src/scss/vars";
@import "./src/scss/mixins";

.footer {
  text-align: center;
}

.inner {
  padding-top: 47px;
  border-top: 1px solid rgba(139, 139, 139, 0.2);

  @include media($sm) {
    padding-top: 24px;
  }
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 1.3;
  color: #ee322c;

  @include media($sm) {
    margin-bottom: 0;
    font-size: 16px;
  }

  &:hover {
    .telegram {
      background-color: #2f89ce;
    }
  }
}

.telegram {
  margin-bottom: 16px;

  img {
    margin-right: 3px;
  }
}

.text {
  position: relative;
  height: 88px;
  overflow: hidden;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.2;
  color: #f1f0f0;

  @include media($sm) {
    height: 53px;
    font-size: 36px;
  }

  span {
    position: absolute;
    left: 50%;
    bottom: -20px;
    white-space: nowrap;
    transform: translateX(-50%);

    @include media($sm) {
      bottom: -10px;
    }
  }
}