@import "./src/scss/vars";
@import "./src/scss/mixins";

.text {
  margin-bottom: 120px;
  max-width: 1035px;

  @include media($sm) {
    margin-bottom: 48px;
  }
}

.link {
  display: block;
  margin: 0 auto;
  width: fit-content;
  text-align: center;
}

.subtitle {
  display: block;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: #ee322c;
}

.site {
  display: block;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.3;
  color: #8b8b8b;

  @include media($sm) {
    font-size: 18px;
  }
}

.svg {
  display: block;
  margin: 0 auto;
  width: 48px;
  height: 48px;

  @include media($sm) {
    width: 32px;
    height: 32px;
  }
}