@import "./src/scss/vars";
@import "./src/scss/mixins";

.section {
  position: relative;
  margin-bottom: 200px;
  padding-top: 118px;
  padding-bottom: 118px;
  overflow: hidden;
  background-image: linear-gradient(180deg, #00809c 0%, #04607d 100%);
  background-size: auto;
  background-repeat: no-repeat;

  @include media($lg) {
    padding-top: 323px;
    padding-bottom: 40px;
    background-position: 0 0;
    background-size: auto;
  }

  @include media($lg) {
    padding-top: 0;
  }

  @include media($sm) {
    margin-bottom: $mb-sm-section;
    background-image: linear-gradient(180deg, #00809c 0%, #04607d 100%);
    background-size: auto;
  }
}

.imgMobile {
  margin-bottom: 32px;
  width: 100%;

  @include min-media($lg) {
    display: none;
  }
}

.elements {
  position: absolute;
  left: -100px;
  top: 50%;
  transform: translateY(-50%);

  @include media("1550px") {
    left: -370px;
  }

  @include media($xl) {
    left: -570px;
  }

  @include media($lg) {
    display: none;
  }
}

.element {
  display: flex;

  &Second {
    position: relative;
    left: 98px;
  }

  &:not(:last-child) {
    margin-bottom: 22px;

    @include media($lg) {
      margin-bottom: 8px;
    }
  }
}

.keys {
  @include media($lg) {
    width: 188px;
    height: 92px;
  }

  &:not(:last-child) {
    margin-right: 22px;

    @include media($lg) {
      margin-right: 8px;
    }
  }
}

.wrap {
  @include min-media($lg) {
    margin-left: auto;
    max-width: 400px;
  }
}

.title {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  color: #fff;

  @include media($sm) {
    margin-bottom: 16px;
    font-size: 24px;
  }
}

.text {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;

  @include media($sm) {
    margin-bottom: 24px;
    font-size: 14px;
  }
}

.link {
  > span {
    @include media($sm) {
      width: 100%;
    }
  }
}
