@import "./src/scss/vars";
@import "./src/scss/mixins";

.root {
  margin-bottom: 95px;

  @include media($sm) {
    margin-bottom: 50px;
  }
}

.title {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  color: #0b0b0b;

  @include media($sm) {
    margin-bottom: 16px;
    font-size: 24px;
  }
}

.text {
  margin-bottom: 48px;
  max-width: 538px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #8b8b8b;

  @include media($sm) {
    margin-bottom: 24px;
    font-size: 14px;
  }
}

.link {
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #1d6ef6;

  @include media($sm) {
    font-size: 14px;
  }

  &:hover {
    img {
      transform: translateX(5px);
    }
  }

  img {
    margin-left: 16px;
    transition: transform 0.3s ease-in-out;

    @include media($sm) {
      margin-left: 12px;
    }
  }
}
