@import "./src/scss/vars";
@import "./src/scss/mixins";

.footer {
  padding-top: 120px;
  background-color: #fafafa;

  @include media($sm) {
    padding-top: 32px;
  }
}

.link {
  margin-bottom: 208px;

  @include media($sm) {
    margin-bottom: 64px;
  }
}

.title {
  margin-bottom: 56px;
  max-width: 802px;
  font-weight: 400;
  font-size: 36px;
  line-height: 140%;
  color: #0b0b0b;

  @include media($sm) {
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 24px;
  }
}

.items {
  display: flex;
  margin-bottom: 72px;

  @include media($xl) {
    overflow: auto;
  }

  @include media($sm) {
    margin-bottom: 32px;
  }
}

.item {
  &:not(:last-child) {
    margin-right: 24px;
  }
}

.img {
  display: block;
  height: auto;
  min-width: 270px;

  @include media($sm) {
    width: 200px;
    min-width: 200px;
  }
}

.text {
  position: relative;
  height: 115px;
  overflow: hidden;
  font-weight: 900;
  font-size: 96px;
  line-height: 120%;
  color: #f1f0f0;

  @include media($md) {
    height: 50px;
    font-size: 42px;
  }

  span {
    position: absolute;
    bottom: -28px;
    white-space: nowrap;

    @include media($md) {
      bottom: -10px;
    }
  }
}
