@import "/src/scss/helpers/vars";
@import "/src/scss/helpers/mixins";

:global {
  main {
    background-image: url("../../images/homePage/bg-top.png"), url("../../images/homePage/bg-middle.png");
    background-position: top center, top 1416px center;
    background-repeat: no-repeat;
  }
}

.fake {
  position: static;
}
