@import "/src/scss/helpers/vars";
@import "/src/scss/helpers/mixins";

.root {
  margin-bottom: 136px;

  @include media($sm) {
    margin-bottom: 56px;
  }
}

.label {
  margin-bottom: 24px;
}

.title {
  margin: 0 auto 48px;
  max-width: 670px;
  font-weight: 600;
  font-size: 56px;
  line-height: 120%;
  text-align: center;
  color: #fff;

  @include media($sm) {
    margin-bottom: 32px;
    font-size: 26px;
  }
}

.inner {
  > * {
    &:not(:last-child) {
      margin-bottom: 40px;

      @include media($sm) {
        margin-bottom: 24px;
      }
    }
  }
}

.box {
  position: relative;
  width: 100%;
}

.img {
  margin-bottom: 16px;

  @include media($sm) {
    margin-bottom: 12px;
  }

  img {
    display: block;
    height: auto;
  }
}

.body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  &:not(.bodyWithSvg) {
    @include media($md) {
      flex-direction: column;
      align-items: flex-start;
    }

    @include media($sm) {
      gap: 12px;
    }
  }

  &.bodyWithSvg {
    svg {
      @include media($sm) {
        width: 26px;
        height: 26px;
      }
    }
  }
}

.subtitle {
  font-weight: 400;
  font-size: 17px;
  color: #98989d;

  @include media($sm) {
    font-size: 14px;
  }

  mark {
    font-weight: 500;
    color: #fff;
  }
}

.wrap {
  display: flex;
  gap: 44px;

  @include media($sm) {
    gap: 12px;
  }
}

.developing {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 16px;
  min-height: 32px;
  border: 1px solid #2b2b2b;
  border-radius: 40px;
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  white-space: nowrap;
  text-align: center;
  color: #98989d;
  background-color: #202020;

  @include media($sm) {
    min-height: 26px;
    font-size: 12px;
  }
}
