@import "./src/scss/vars";
@import "./src/scss/mixins";

.keys {
  margin-bottom: 200px;

  @include media($sm) {
    margin-bottom: $mb-sm-section;
  }
}

.items {

}

.item {
  display: flex;
  align-items: center;
  gap: 102px;

  @include media($lg) {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 32px;
  }

  &:nth-child(even) {
    @include min-media($lg) {
      flex-direction: row-reverse;
    }
  }

  &:not(:last-child) {
    margin-bottom: 200px;

    @include media($lg) {
      margin-bottom: 64px;
    }
  }
}

.info {
  max-width: 400px;

  @include media($lg) {
    max-width: 100%;
  }
}

.title {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  color: #0b0b0b;

  @include media($sm) {
    margin-bottom: 16px;
    font-size: 24px;
  }
}

.text {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #8b8b8b;

  @include media($sm) {
    margin-bottom: 24px;
    font-size: 14px;
  }
}

.link {
  @include media($sm) {
    display: block;
    width: 100%;

    > * {
      width: 100%;
    }
  }
}

.img {
  img {
    @include media($lg) {
      width: 100%;
    }
  }
}
