@font-face {
  src:
    url("../fonts/Formular-Light.woff2") format("woff2"),
    url("../fonts/Formular-Light.woff") format("woff");
  font-family: "Formular";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url("../fonts/Formular-Regular.woff2") format("woff2"),
    url("../fonts/Formular-Regular.woff") format("woff");
  font-family: "Formular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url("../fonts/Formular-Medium.woff2") format("woff2"),
    url("../fonts/Formular-Medium.woff") format("woff");
  font-family: "Formular";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url("../fonts/Formular-Bold.woff2") format("woff2"),
    url("../fonts/Formular-Bold.woff") format("woff");
  font-family: "Formular";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url("../fonts/Formular-Black.woff2") format("woff2"),
    url("../fonts/Formular-Black.woff") format("woff");
  font-family: "Formular";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}