@import "./src/scss/vars";
@import "./src/scss/mixins";

.root {
  margin-bottom: 160px;

  @include media($sm) {
    margin-bottom: 84px;
  }
}

.title {
  margin-bottom: 56px;
  max-width: 660px;

  @include media($sm) {
    margin-bottom: 24px;
  }
}

.subtitle {
  margin-bottom: 24px;

  @include media($sm) {
    margin-bottom: 8px;
  }
}

.text {
  margin-bottom: 56px;
  max-width: 535px;

  @include media($sm) {
    margin-bottom: 24px;
  }
}

.wrap {
  display: flex;
}

.items {
  &:first-child {
    .item {
      &:not(:last-child) {
        margin-bottom: 120px;

        @include media($sm) {
          margin-bottom: 24px;
        }
      }
    }
  }

  &:last-child {
    margin-top: 140px;

    @include media($sm) {
      margin-top: 60px;
    }
  }

  &:not(:last-child) {
    margin-right: 118px;

    @include media($sm) {
      margin-right: 8px;
    }
  }

  &:not(:first-child) {
    .item {
      &:not(:last-child) {
        margin-bottom: 133px;

        @include media($sm) {
          margin-bottom: 56px;
        }
      }
    }
  }
}

.item {
  width: 100%;
}